@font-face {
	font-family: 'GT-America';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/GT_America_Light.otf');
	src: url('../fonts/GT_America_Light.otf') format('opentype');
}

@font-face {
	font-family: 'GT-America';
	font-weight: 100;
	font-style: normal;
	src: url('../fonts/GT_America_Thin.otf');
	src: url('../fonts/GT_America_Thin.otf') format('opentype');
}

@font-face {
	font-family: 'GT-America';
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/GT_America_Bold.otf');
	src: url('../fonts/GT_America_Bold.otf') format('opentype');
}

@font-face{
	font-family: 'FiraSans';
	font-weight: 600;
	font-style: normal;
	src: url('../fonts/FiraSans-Bold.ttf');
	src: url('../fonts/FiraSans-Bold.ttf') format('truetype')
}

@font-face{
	font-family: 'FiraSans';
	font-weight: 500;
	font-style: normal;
	src: url('../fonts/FiraSans-Medium.ttf');
	src: url('../fonts/FiraSans-Medium.ttf') format('truetype')
}

@font-face{
	font-family: 'FiraSans';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/FiraSans-Regular.ttf');
	src: url('../fonts/FiraSans-Regular.ttf') format('truetype')
}

@font-face{
	font-family: 'FiraSans';
	font-weight: 300;
	font-style: normal;
	src: url('../fonts/FiraSans-Light.ttf');
	src: url('../fonts/FiraSans-Light.ttf') format('truetype')
}

@font-face{
	font-family: 'FiraSans';
	font-weight: 200;
	font-style: normal;
	src: url('../fonts/FiraSans-UltraLight.ttf');
	src: url('../fonts/FiraSans-UltraLight.ttf') format('truetype')
}

@font-face{
	font-family: 'FiraSans';
	font-weight: 100;
	font-style: normal;
	src: url('../fonts/FiraSans-Thin.ttf');
	src: url('../fonts/FiraSans-Thin.ttf') format('truetype')
}

@font-face{
	font-family: 'GaramondPremierProDisplay';
	font-weight: normal;
	font-style:normal;
	src: url('../fonts/Garamond-Premier-Pro-Display.otf');
	src: url('../fonts/Garamond-Premier-Pro-Display.otf')format('opentype')
}

@font-face{
	font-family: 'GaramondPremierProDisplay';
	font-weight: 300;
	font-style:normal;
	src: url('../fonts/Garamond-Premier-Pro-Light-Display.otf');
	src: url('../fonts/Garamond-Premier-Pro-Light-Display.otf')format('opentype')
}


@font-face{
	font-family: 'GaramondPremierProDisplay';
	font-weight: 600;
	font-style:normal;
	src: url('../fonts/Garamond-Premier-Pro-Mediem-Caption.otf');
	src: url('../fonts/Garamond-Premier-Pro-Mediem-Caption.otf')format('opentype')
}

@font-face{
	font-family: 'GaramondPremierProDisplay';
	font-weight: 800;
	font-style:normal;
	src: url('../fonts/Garamond-Premier-Pro-Bold-Caption.otf');
	src: url('../fonts/Garamond-Premier-Pro-Bold-Caption.otf')format('opentype')
}
