@font-face {
	font-family: 'GT-America';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/GT_America_Light.otf');
	src: url('../fonts/GT_America_Light.otf') format('opentype');
}

@font-face {
	font-family: 'GT-America';
	font-weight: 100;
	font-style: normal;
	src: url('../fonts/GT_America_Thin.otf');
	src: url('../fonts/GT_America_Thin.otf') format('opentype');
}

@font-face {
	font-family: 'GT-America';
	font-weight: 500;
	font-style: normal;
	src: url('../fonts/GT-America-Medium.otf');
	src: url('../fonts/GT-America-Medium.otf') format('opentype');
}

@font-face {
	font-family: 'GT-America';
	font-weight: 700;
	font-style: normal;
	src: url('../fonts/GT_America_Bold.otf');
	src: url('../fonts/GT_America_Bold.otf') format('opentype');
}

@font-face{
	font-family: 'Sentinel';
	font-weight: 300;
	font-style:normal;
	src: url('../fonts/Sentinel-Book.otf');
	src: url('../fonts/Sentinel-Book.otf')format('opentype')
}

@font-face{
	font-family: 'Sentinel';
	font-weight: 100;
	font-style:normal;
	src: url('../fonts/Sentinel-Light.otf');
	src: url('../fonts/Sentinel-Light.otf')format('opentype')
}


@font-face{
	font-family: 'Sentinel';
	font-weight: 500;
	font-style:normal;
	src: url('../fonts/Sentinel-Medium.otf');
	src: url('../fonts/Sentinel-Medium.otf')format('opentype')
}

@font-face{
	font-family: 'Sentinel';
	font-weight: 700;
	font-style:normal;
	src: url('../fonts/Sentinel-Bold.otf');
	src: url('../fonts/Sentinel-Bold.otf')format('opentype')
}

@font-face{
	font-family: 'Tiempos';
	font-weight: 100;
	font-style:normal;
	src: url('../fonts/Tiempos.otf');
	src: url('../fonts/Tiempos.otf')format('opentype')
}

@font-face{
	font-family: 'Tiempos';
	font-weight: 300;
	font-style:normal;
	src: url('../fonts/TiemposText-Medium.ttf');
	src: url('../fonts/TiemposText-Medium')format('truetype')
}


@font-face{
	font-family: 'TiemposHeadline';
	font-weight: 100;
	font-style:normal;
	src: url('../fonts/TiemposHeadline-Regular.otf');
	src: url('../fonts/TiemposHeadline-Regular.otf')format('opentype')
}

@font-face{
	font-family: 'TiemposHeadline';
	font-weight: 500;
	font-style:normal;
	src: url('../fonts/TiemposHeadline-Semibold.otf');
	src: url('../fonts/TiemposHeadline-Semibold.otf')format('opentype')
}

@font-face{
	font-family: 'TiemposHeadline';
	font-weight: 700;
	font-style:normal;
	src: url('../fonts/TiemposHeadline-Bold.otf');
	src: url('../fonts/TiemposHeadline-Bold.otf')format('opentype')
}
