@import url('../css/themes.css');

/* general link style */
a, a:visited, a:focus{
  text-decoration:none;
  color:var(--on-surface);
  font-family:'Sentinel', serif;
  font-weight:normal;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color:var(--background-primary-color);
}

/* h1 style */
h1{
  font-family:'Stanley', serif;
  font-weight: normal;
  font-size:1.5em;
  text-transform:capitalize;
  color:var(--title-text-color);
}


/*clear out :: before border style for specific title */
#slogan::before{
  border-bottom: 0px solid transparent;
}

#project-title::before{
  border-bottom: 0px solid transparent;
}


@keyframes highlight-underline{
  0% {background-size:0 40%;}
  100% {background-size:130% 40%;}
}

/* h2 style */
h2{
  font-family:'GT-America',Helvetica, sans-serif;
  font-weight:500;
  font-size:0.9em;
  color:var(--secondary-text-color);
  line-height:2.0em;
  letter-spacing: 0.1em;
  margin-bottom:0.1em;
}

.section-header{
  background:var(--background-inverse-color);
  color:var(--inverse-text-color);
  padding:8px 16px;
  margin-bottom:24px;
  letter-spacing: 0em;
}


/* h3 style */
h3{
  font-family:'Stanley', serif;
  font-weight:300;
  font-size:1.3em;
  line-height:1.4em;
  letter-spacing:1px;
  margin-top:0.3em;
  margin-bottom:1em;
  color:var(--title-text-color);
}


/* slogan, used for index */
#slogan{
  font-family:'Stanley', serif;
  font-weight:normal;
  line-height:1.0em;
  font-size:2em;
  letter-spacing:0px;
  border-bottom:1px solid transparent;
  color:var(--title-text-color);
}

/* about me paragraph style*/
.about-p{
  font-family:'Stanley', serif;
  font-weight:normal;
  line-height:1.2em;
  font-size:1.5em;
  letter-spacing:0px;
  color:var(--body-text-color);
  border-bottom:1px solid transparent;
}

/* logo img size */
#logo img{
  width:160px;
}

.logo-fill{
  fill:var(--on-surface);
}

#logo-motion{
  width:60px;
  transition:0.3s;
}

#logo-motion:hover{
  transform: scale(1.1,1.1);
}

/*work statement*/
.work{
  font-size: 0.9em;
}

/* project title used for project pages */
#project-title{
  font-family:'Stanley', serif;
  font-weight:normal;
  font-size:2.5em;
  border-bottom:0px solid transparent;
  text-align:left;
  color:var(--title-text-color);
}


/* default paragraph style */
p{
  font-family:'GT-America',Helvetica, sans-serif;
  font-weight:300;
  line-height:1.6em;
  letter-spacing: 1px;
  font-size:1em;
  color:var(--body-text-color);
  margin:0.3em 0em;
  padding-bottom:0.6em;
}

#lockContent{
  display:none;
}

strong{
  font-weight: 500;
  color: var(--body-text-color);
}

/* for quote usage in project pages*/
.quotes{
  font-family:'Stanley', serif;
  font-weight:300;
  font-size:2em;
  font-style: italic;
  color: var(--title-text-color);
  line-height:1.4em;
  letter-spacing: 0.9px;
  margin:1em 0;
  text-align: left;
}

/* for author usage in project pages*/
.author{
  font-family:'GT-America', sans-serif;
  font-weight:500;
  font-size:0.8em;
  letter-spacing: 1px;
  line-height:1.7em;
  margin:-1em 0 1.5em 3rem;
  text-align: right;
  padding-left:20px;
  text-transform:uppercase;
  color:var(--secondary-text-color);
  border-left:0px solid var(--border-secondary-color);
}

/* sidenotes */
.sidenote{
  font-family:'GT-America', sans-serif;
  font-weight:normal;
  font-size:0.7em;
  letter-spacing: 1px;
  line-height:1.7em;
  text-align: left;
  margin-top:2em;
  padding-left:15px;
  color:var(--secondary-text-color);
  border-left:1px solid var(--border-secondary-color);
}

.sidenote-noborder{
  font-family:'GT-America', sans-serif;
  font-weight:normal;
  font-size:0.7em;
  letter-spacing: 1px;
  line-height:1.7em;
  text-align: center;
  margin-left:0rem;
  padding-left:0px;
  padding-top:1.5em;
  color:var(--secondary-text-color);
  border-left:0px solid transparent;
}

/* sidenote but always remain at bottom */
.bottomnote{
  font-family:'GT-America', sans-serif;
  font-weight:normal;
  font-size:0.7em;
  letter-spacing: 1px;
  line-height:1.7em;
  color:var(--secondary-text-color);
  margin-top:2em;
  padding-left:0px;
  border-left:0px solid var(--border-secondary-color);
}

.bottomnote-center{
  font-family:'GT-America', sans-serif;
  font-weight:normal;
  font-size:0.7em;
  letter-spacing: 1px;
  line-height:1.7em;
  color:var(--secondary-text-color);
  margin-top:2em;
  text-align:center;
}

.text-center{
  text-align: center;
}

.text-center-flex{
  text-align: left;
}

/* bulleted lists style */
ul li{
  font-family:'GT-America',Helvetica, sans-serif;
  font-weight:300;
  line-height:1.4em;
  letter-spacing: 1px;
  font-size:1em;
  color:var(--body-text-color);
  margin:0.3em 0em;
  padding-bottom:0.6em;
  overflow-wrap: break-word; /*enforce line breaks*/
}

/* order lists style */
ol{
  margin-top:0px;
}

ol li{
  font-family:'Sentinel', serif;
  font-weight:500;
  font-size:1em;
  line-height:1.3em;
  letter-spacing: 1.2px;
  margin-left:-25px;
  overflow-wrap: break-word; /*enforce line breaks*/
}


/* smart image */
.smart-image {
    background-repeat: no-repeat;
    background-position: 50%;
}

.smart-image-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}


.project-thumbnail .smart-image {
    transition: all .25s ease;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.project-thumbnail .smart-image:hover{
    transform: scale(1.15);
    cursor: pointer;
}

/*general img setting */
.project-img{
  text-align: center;
}

.project-img img{
  width:60%;
}

/* box shadow for image use */
.box-shadow{
  box-shadow: 2px 2px 7px rgba(0,0,0,0.25);
}

.space-block{
  margin-top:8px;
  border-bottom:3px solid var(--border-primary-color);
}

/* video */
video:focus{
  outline: none;
}

video{
  z-index:0;
}

/*full width img*/
.over-img img{
  width:100%;
  height:auto;
  z-index:0;
}

/*image row*/
.image-row{
  margin-left:0%;
  width:100%;
}

/* mobile gif for projects */
.project-gif{
  text-align: center;
}

.project-gif img{
  width:250px !important; /*overriding the width element*/
  height:auto;
  margin: 10px 0;
  box-shadow: 2px 2px 7px rgba(0,0,0,0.25);
}

/* desktop gif for project */
.desktop-img img{
  width:100%;
  box-shadow: 2px 2px 7px rgba(0,0,0,0.25);
}

.desktop-gif{
  text-align:center;
}

.desktop-gif img{
  width: 100%;
  box-shadow: 2px 2px 7px rgba(0,0,0,0.25);
}
/*individual title background image*/
.ppd-title-img{
  background: url("../images/PPD/PPD-title-image-x2.png") no-repeat center;
  background-size:contain;
}

.ccs-title-img{
  background: url("../images/CCS/CCS-title-image-x2.png") no-repeat 180px center;
  background-size:contain;
}

.joyful-title-img{
  background: url("../images/JOYFUL/JOYFUL-title-image-x2.png") no-repeat center;
  background-size:contain;
}

.arocha-title-img{
  background: url("../images/AROCHA/AROCHA-title-image-x2.png") no-repeat 180px center;
  background-size:contain;
}

.pbook-title-img{
  background: url("../images/PBOOK/PBOOK-title-image-x2.png") no-repeat center;
  background-size:contain;
}

.visier-title-img{
  background: url("../images/VISIER/VISIER-title-image.png") no-repeat center;
  background-size:contain;
}

.afterlife-title-img{
  background: url("../images/AFTERLIFE/AFTERLIFE-title-image-x2.png") no-repeat center;
  background-size:contain;
}

.peacegeeks-title-img{
  background: url("../images/PEACEGEEKS/PEACEGEEKS-title-image.png") no-repeat center;
  background-size:contain;
}

.daylight-title-img{
  background: url("../images/DAYLIGHT/DAYLIGHT-title-image.png") no-repeat center;
  background-size: contain;
}

.facebook-title-img{
  background: url("../images/FACEBOOK/FACEBOOK-title-image.png") no-repeat center;
  background-size: contain;
}

/* resizable video from vimeo */
.video{
  margin-top:20px;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

iframe{
  display:block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border:0;
}

/* underline style */
.underline{
  padding-bottom:5px;
  border-bottom: 1px solid var(--border-secondary-color);
}

.last-nav-button{
  padding-right:0;
}

/* ------ style guide setting --------*/
.element-list{
  color:var(--body-text-color);
  font-family:'GT-America', sans-serif;
  font-weight:500;
  font-size:0.8em;
  letter-spacing:1px;
  border:1px solid var(--border-tertiary-color);
}

.element-list-title{
  background-color:var(--background-inverse-color);
  padding:10px;
  color:var(--inverse-text-color);
  margin-bottom:10px;
}

.element-list a:hover{
  opacity:0.3;
}

.style-guide-item{
  font-family:'GT-America',Helvetica,sans-serif;
  font-weight:300;
  text-decoration:underline;
  font-size: 1em;
  letter-spacing:1px;
  transition:0.25s;
  padding-left:10px;
}

/* ----------------------------------------- */

/*Tab style*/
/* Style the tab */
.tab {
  overflow: hidden;
  box-shadow: 0px 8px 10px -12px var(--elevated-drop-shadow);
  display: flex;
  justify-content: space-around;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: 1px solid var(--border-tertiary-color);
  outline: none;
  cursor: pointer;
  padding: 32px;
  border-bottom: 3px solid rgba(0,0,0,0);
  transition: 0.3s;
  font-family:'GT-America',Helvetica, sans-serif;
  font-weight:500;
  font-size:1.1em;
  text-transform: capitalize;
  color:var(--on-surface);
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: var(--background-secondary-color);
}

.tab a:hover {
  background-color: var(--background-secondary-color);
}

/* Create an active/current tablink class */
.tab button.active {
  border-left: 5px solid var(--border-primary-color);
  border-bottom: 0px solid var(--border-primary-color);
}

.tab a{
  background-color: inherit;
  float: left;
  border: 1px solid var(--border-tertiary-color);
  outline: none;
  cursor: pointer;
  padding: 16px 16px;
  border-bottom: 3px solid rgba(0,0,0,0);
  transition: 0.3s;
  font-family:'GT-America',Helvetica, sans-serif;
  font-weight:500;
  font-size:1.1em;
  text-transform: capitalize;
  color:var(--on-surface);
}

.tab-label{
  font-size:0.8em;
  font-family:'GT-America',Helvetica, sans-serif;
  font-weight:500;
  text-transform: uppercase;
  padding: 8px 0px;
}


/* Style the tab content */
.tabcontent {
  display: none;
  padding: 24px 0px;
  z-index: 0;
}

.tab-content-right {
  position:relative;
  animation:animateright 0.4s;
}

@keyframes animateright {
  from{right:-64px;opacity:0;}
  to{right:0;opacity:1;}
}

.tab-content-left {
  position:relative;
  animation:animateleft 0.4s;
}

@keyframes animateleft {
  from{left:-64px;opacity:0;}
  to{left:0;opacity:1;}
}

/*------------------------------------------------*/

/* color swatches */
#colour_swatches{
  font-family:'FiraSans',Helvetica,sans-serif;
  font-weight:300;
}

.white{
  background-color:var(--background-primary-color);
  color:var(--on-surface);
  padding: 10px 0 0 10px;
  height: 100px;
  border:1px solid var(--border-secondary-color);
}

.black{
  background-color:var(--background-inverse-color);
  color:var(--on-inverse-surface);
  padding: 10px 0 0 10px;
  height: 100px;
}

.gray-1{
  background-color:var(--surface-secondary);
  color:var(--on-inverse-surface);
  padding: 10px 0 0 10px;
  height: 100px;
}

.gray-2{
  background-color:var(--surface-secondary);
  color:var(--on-inverse-surface);
  padding: 10px 0 0 10px;
  height: 100px;
}

.gray-3{
  background-color:var(--surface-secondary);
  color:var(--on-surface);
  padding: 10px 0 0 10px;
  height: 100px;
}


/* navigation bar */
.nav-bar{
  width:100%;
  height:80px;
  padding:30px 2.5%;
  top:0;
  background-color:var(--background-primary-color);
  opacity:0.9;
  z-index:98;
  position:fixed;
  overflow:hidden;
  margin:0;
  align-items: center;
  justify-content: center;
}

#logo{
  transition: 0.3s;
  display:flex;
  align-items: center;
  justify-content: start;
}

#logo:hover{
  opacity:0.3;
}

/* navigation button style */
.nav-button{
  float: right;
  display: block;
  text-align:right;
  font-family:'GT-America', sans-serif;
  font-weight:normal;
  text-transform:uppercase;
  letter-spacing:1px;
  font-size:0.75em;
  transition: opacity 0.5s ;
}

.nav-button:hover, .nav-button:focus{
  font-family:'GT-America', sans-serif;
  opacity: 0.5;
}

/* Hamburger Menu Styling */
.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: var(--background-inverse-color);
  overflow: hidden;
  text-align:center;
  opacity:0;
  visibility:hidden;
  transition: 0.5s;
}

.overlay-content {
  display: flex;
  flex-wrap:wrap;
  position:absolute;
  width:100%;
  top: 50%;
  transform: translate(0, -50%);
  left:0;
}


#closeNav {
  font-size: 50px;
  font-weight:200;
  color: var(--on-inverse-surface);
  cursor: pointer;
  position: fixed;
  right: 3%;
  top: 15px;
  opacity:0;
}

#closeNav:hover{
  font-weight:300;
}


.overlay-content .overlay-nav-button{
  color: var(--on-inverse-surface);
}

/*overlay navigation button style */
.overlay-nav-button{
  font-family:'GT-America', sans-serif;
  font-weight: 500;
  text-transform:uppercase;
  font-size:1em;
  letter-spacing:0.5px;
  padding:24px 0;
  text-align:center;
  transition:0.5s ;
}

.overlay-nav-button:hover, .overlay-nav-button:focus{
  font-family:'GT-America', sans-serif;
  font-weight: 500;
  opacity:0.5;
}

#toggle{
  font-size: 1.5em;
  color: var(--on-surface);
}

#toggle:hover{
  cursor:pointer;
}

/* -------------- sidebar styling for project pages ---------------- */
.sidebar-container{
  position: fixed;
  top:25%;
  left:3%;
  z-index: 99;
  display:none;
}

.sidebar{
  font-family:'GT-America',Helvetica, sans-serif;
  font-weight:100;
  font-size: 0.75em;
  border-bottom:1px solid var(--border-primary-color);
  letter-spacing:1px;
  margin-top:15px;
  padding: 5px 0px 5px 2px;
  transition: opacity 0.5s;
  display:none;
  text-align:left;
  position:relative;
  transition: opacity 0.5s;
}

.sidebar:hover{
  opacity:0.2 !important;
}

.sidebar:active, .sidebar:focus{
  font-family:'GT-America',Helvetica, sans-serif;
  font-weight:100;
  font-size: 0.75em;
}

#project-nav{
  display:none;
}


/* ------ footer bar ------- */
footer{
  padding:50px 3% 160px 3%;
  margin-top:50px;
  background-color:var(--background-inverse-color);
}

.footer-button{
  margin:15px 50px 10px 5px;
  text-align:left;
  color:var(--on-inverse-surface);
  font-family:'GT-America', sans-serif;
  font-weight:normal;
  letter-spacing:2px;
  font-size:0.7em;
  text-transform: uppercase;
}

.footer-button a{
  font-family:'GT-America', sans-serif;
  font-weight:normal;
  color:var(--on-inverse-surface);
  text-transform: uppercase;
}

.footer-button a:hover, .footer-button a:focus{
  opacity:0.5;
}

#let-chat{
  font-family:'Stanley', serif;
  font-size:4em;
  font-weight:normal;
  color:var(--on-inverse-surface);
  margin:0 0 25px 0;
}


/* Default Button */
.d-button{
  font-family:'GT-America', sans-serif;
  font-weight:normal;
  margin:10px 20px;
  padding:8px 15px;
  font-size:12px;
  letter-spacing:0.8px;
  border:1px solid var(--border-primary-color);
  background-color:var(--background-primary-color);
  background-image: linear-gradient(to right, var(--surface-active) 0, var(--surface-active) 100%);
  background-position: 0em 0em;
  background-size: 0% 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ;
}

button{
  font-family:'GT-America', sans-serif;
  font-weight:normal;
  padding:8px 15px;
  font-size:12px;
  letter-spacing:0.8px;
  border:1px solid var(--border-primary-color);
  background-color:var(--background-primary-color);
  background-image: linear-gradient(to right, var(--surface-active) 0, var(--surface-active) 100%);
  background-position: 0em 0em;
  background-size: 0% 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ;
}

button:hover, button:focus{
  font-family:'GT-America', sans-serif;
  font-weight:normal;
  cursor:pointer;
  color:var(--on-surface);
  background-size:100% 100%;
  outline-style: none;
}

.d-button:first-child{
  margin-left:0;
}

.d-button:last-child{
  margin-right:0;
}

.d-button strong{
  font-weight:700;
  letter-spacing:1.7px;
}

.d-button:hover, .d-button:focus{
  font-family:'GT-America', sans-serif;
  font-weight:normal;
  cursor:pointer;
  color:var(--on-surface-active);
  background-size:100% 100%;
  outline-style: none;
}

.d-button:hover strong{
  color:var(--on-surface-active);
  font-weight:700;
  letter-spacing:1.7px;
}

/* back to top button */

#topBtn{
  padding:8px 0px;
  width:120px;
  letter-spacing:0.8px;
  font-family:'GT-America',Helvetica, sans-serif;
  font-weight:500;
  font-size:0.8em;
  color:var(--on-surface);
  border-radius:15px;
  background-color:var(--background-primary-color);
  background-image: linear-gradient(to right, var(--surface-active) 0, var(--surface-active) 100%);
  background-position: 0em 0em;
  background-size: 0% 100%;
  background-repeat: no-repeat;
  text-align:center;
  z-index: 99;
  opacity:1;
  display:none;
  position: fixed;
  bottom:30px;
  left:0;
  right:0;
  margin:auto;
  cursor: pointer;
  border-style: none none none none;
  border-color: var(--surface-border);
  box-shadow: 0px 2px 10px var(--hover-drop-shadow);
  transition: background-size 0.5s,opacity 0.5s;
}

#topBtn:hover{
  color:var(--on-surface-active);
  background-size:100% 100%;
}

#topBtn:focus, #topBtn:active, #topBtn:visited{
  outline:none;
  color:var(--on-surface);
  background-size:0% 100%;
}
/* Form */
form{
  width:100%;
}

/* Textarea */
textarea{
  width:100%;
  height:180px;
  padding: 15px;
  font-family:'GT-America', sans-serif;
  font-weight:300;
  font-size: 1em;
  border: solid 1px var(--border-primary-color);
  resize: none;
}

textarea:focus{
  outline-style: none;
}

/* Display comment */
.comment-box{
  border-top: 1px solid var(--border-secondary-color);
  flex-basis:100%;
  margin: 15px 0 15px 0;
  padding-top: 25px;
}

/* uid */
.uid{
  font-family:'GT-America',Helvetica, sans-serif;
  font-weight:500;
  font-size:0.8em;
  color:var(--secondary-text-color);
  line-height:2.0em;
  letter-spacing: 0.1em;
}

/* In-text Link */
.intext-link, .intext-link:visited, .intext-link:active{
  font-size:1.0em;
  background-image: linear-gradient(to right, var(--surface-active) 0, var(--surface-active) 100%);
  background-position: 0em 0em;
  background-size: 0% 100%;
  background-repeat: no-repeat;
  text-decoration: underline;
  margin:0px 2px;
  font-family:'GT-America',Helvetica, sans-serif;
  font-weight:500;
  transition: background-size 0.6s;
}

.intext-link:hover, .intext-link:focus{
  font-family:'GT-America',Helvetica, sans-serif;
  font-weight:500;
  color:var(--on-surface-active);
  background-size: 100% 100%;
  text-decoration: none;
  border-bottom:1px solid transparent;
}

.intext-link2, .intext-link2:visited, .intext-link2:active{
  font-size:1.0em;
  background-image: linear-gradient(to right, var(--surface-active) 0, var(--surface-active) 100%);
  background-position: 0em 0em;
  background-size: 0% 100%;
  background-repeat: no-repeat;
  text-decoration: underline;
  margin:0px 0px;
  font-family:'GT-America', Helvetica, sans-serif;
  font-weight:500;
  transition: background-size 0.4s;
}

.intext-link2:hover, .intext-link2:focus{
  background-size: 100% 100%;
  font-family:'GT-America', Helvetica, sans-serif;
  font-weight:500;
  text-decoration: none;
  color:var(--on-surface-active);
}


/* text-input field */
.d-text-input{
  padding:5px 10px;
  font-size:1em;
}

.d-text-input:focus{
  outline: none;
}

/* ----- project listing ----- */
#project-list-title::before{
  content: '';
  border-bottom: 0px solid var(--border-primary-color);
  position: absolute;
  left: 25%;
  right: 14.5%;
  margin-top: 7px;
}

#project-list-title{
  font-weight:600;
  letter-spacing:2.5px;
  font-size:1em;
  margin-bottom:0.4em;
  color: var(--title-text-color);
  z-index: 2;
}

.project-list{
  border: 1px solid;
  border-color: transparent transparent transparent transparent;
}


.border-top{
  border-top:1px solid var(--border-tertiary-color);
}

.border-right{
  border-right:0px solid var(--border-tertiary-color);
}

.project-border-top{
  border-top:0px solid var(--border-tertiary-color);
}

.text-block{
  margin: 0px 0px 48px 0px;
}

.project-item{
  margin: 0px 0px 48px 0px;
  border-bottom: 3px solid var(--border-primary-color);
}

.project-item-about{
  margin: 0px 25px 0px 25px;
}

.project-item-about:first-child{
  margin-left: 0;
}

.project-item-about:last-child{
  margin-right: 0;
}


.project-wrapper{
  margin: 0 0 0 0;
  position: relative;
}

.mid-size-project{
  flex:100%;
}

.small-size-project{
  flex:100%;
}
.about-size-project{
  flex:100%;
}

.large-size-project{
  flex:100%;
}

.project-description{
  padding: 24px 0 16px 0;
  transition: padding 0.3s linear;
}

.project-item{
  text-decoration: none;
  background-image: linear-gradient(to right, var(--surface-active) 0, var(--surface-active) 100%);
  background-position: 0em 0em;
  background-size: 0% 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s linear;
}

.project-item:hover, .project-item:focus{
  background-size: 100% 100%;
}

.project-item:hover .project-description, .project-item:focus .project-description{
  padding: 24px 4px 16px 12px;
}

.project-item:hover .project-description a p, .project-item:focus .project-description a p, .project-item:hover .project-description a p strong, .project-item:hover .project-description a .tag span{
  color:var(--on-surface-active);
}

/* tag for categorizing project */
.tag{
  font-family:'GT-America',Helvetica, sans-serif;
  font-weight:400;
  color:var(--secondary-text-color);
  display:block;
  letter-spacing: 0px;
  padding-bottom:0px;
}

.tag span{
  color: var(--body-text-color);
  padding-left:8px;
}

.project-description a .project-thumbnail-title{
  font-size: 1.45em;
  font-family:'Stanley', serif;
  font-weight: normal;
  letter-spacing: 0px;
}


.mobile{
  display:block; /*display project description on mobile*/
}

.title-mobile{
  display:none;
}


#description-feature{
  font-size:1em;
  line-height:1.4em;
}


.project-thumbnail{
    display: flex;
    position: relative;
    overflow: hidden;
    height: 270px;
}

.about-size-project{
  flex:100%;
}


/* ------------------------------------- Media Query ----------------------------------------- */
@media (min-width:44em){
  .mid-size-project{
    flex:64%;
  }

  .small-size-project{
    flex:28%;
    max-width:340px;
  }

  .about-size-project{
    flex:28%;
    max-width:340px;
  }

  .large-size-project{
    flex:100%;
  }

  .text-block{
    margin: 0px 8px 0px 8px;
  }

  .project-item{
    margin: 0px 8px 0px 8px;
    border-bottom: 3px solid var(--border-primary-color);
  }

  .project-item-about{
    margin: 0px 25px 0px 25px;
  }

  .project-wrapper{
    margin: 0px 0px 60px 0px;
  }

  .text-block:first-child{
    margin-left: 0;
  }

  .text-block:last-child{
    margin-right: 0;
  }

  .project-item:first-child{
    margin-left: 0;
  }

  .project-item:last-child{
    margin-right: 0;
  }

  .project-description a .tag{
    font-size: 0.9em;
  }

  .project-description a .project-thumbnail-title{
    font-size: 1.45em;
    font-family:'Stanley', serif;
    font-weight: normal;
  }

  .space-block{
    border-bottom:0px solid var(--border-primary-color);
  }

  h2{
    font-size:0.9em;
  }

  .author{
    margin:0em 0 1em 3rem;
    text-align: left;
    border-left:5px solid var(--border-secondary-color);
    padding-left:20px;
    padding-top:0em;
  }

  .sidenote-noborder{
    border-left:5px solid var(--border-secondary-color);
    padding-left:20px;
    padding-top:0em;
    margin-left:3rem;
    text-align: left;
    color:var(--secondary-text-color);
  }

  ol{
    margin-top:10px;
  }

  #project-title{
    font-size:4em;
    word-spacing:0px;
    text-align:left;
  }

  h1{
    font-family:'Stanley', serif;
    font-weight: normal;
    font-size:1.6em;
  }

  /* h1 strong{
    font-family:'Stanley', serif;
    font-weight: normal;
    position: relative;
    z-index: -1;
    display: inline-block;
    max-width: 65%;
    padding: 0 20px 0 0;
  } */

  /* h1::before {
    content: '';
    position: absolute;
    left: 29%;
    right: 24.5%;
    margin-top:16px;
    border-bottom: 1px solid #898989;
  } */

  .tab button {
    padding: 32px;
    border-bottom: 3px solid rgba(0,0,0,0);
    transition: 0.3s;
    font-family:'GT-America',Helvetica, sans-serif;
    font-weight:500;
  }

  .tab button.active {
    border-left: 0px solid var(--surface-border);
    border-bottom: 3px solid var(--surface-border);
  }

  .tab a {
    padding: 32px;
    transition: 0.3s;
  }

  .tab button:first-child{
    border-right: 0px solid var(--border-tertiary-color);
  }

  .tab button:last-child{
    border-left: 0px solid var(--border-tertiary-color);
  }

  .tab a:first-child{
    border-right: 0px solid var(--border-tertiary-color);
  }

  .tab a:last-child{
    border-left: 0px solid var(--border-tertiary-color);
  }

  .image-row img{
    height: 240px;
  }

/* Portfolio page image*/
  .ppd-title-img{
    background: url("../images/PPD/PPD-title-image.png") no-repeat center;
    background-size: contain;
  }

  .ccs-title-img{
    background: url("../images/CCS/CCS-title-image.png") no-repeat center;
    background-size: contain;
  }

  .joyful-title-img{
    background: url("../images/JOYFUL/JOYFUL-title-image.png") no-repeat center;
    background-size: contain;
  }

  .arocha-title-img{
    background: url("../images/AROCHA/AROCHA-title-image.png") no-repeat center;
    background-size: contain;
  }

  .pbook-title-img{
    background: url("../images/PBOOK/PBOOK-title-image.png") no-repeat center;
    background-size: contain;
  }

  .visier-title-img{
    background: url("../images/VISIER/VISIER-title-image.png") no-repeat center;
    background-size: contain;
  }

  .afterlife-title-img{
    background: url("../images/AFTERLIFE/AFTERLIFE-title-image.png") no-repeat center;
    background-size: contain;
  }

  .daylight-title-img{
    background: url("../images/DAYLIGHT/DAYLIGHT-title-image.png") no-repeat center;
    background-size: contain;
  }

  .facebook-title-img{
    background: url("../images/FACEBOOK/FACEBOOK-title-image.png") no-repeat center;
    background-size: contain;
  }

  #slogan{
    line-height:1.3em;
    font-size:2.8em;
    margin:0;
  }

  .about-p{
    line-height:1.3em;
    font-size:1.6em;
    margin:0;
  }

  .border-left{
    border-left:3px solid var(--border-primary-color);
    border-left-width:3px;
    padding-left:20px;
  }


  .work{
    font-size: 1em;
  }


  .project-border-top{
    border-top:1px solid var(--border-secondary-color);
  }

  footer{
    padding-top:0px;
    padding:50px 12% 70px 12%;
  }

  #let-chat{
    font-family:'Stanley', serif;
    font-size:4em;
    font-weight:normal;
    color:var(--inverse-text-color);
    margin:0 0 25px 0;
  }

  #logo-motion{
    width:100px;
    margin-top:30px;
    transition:0.3s;
  }

  .title-mobile{
    display:block;
  }

  .mobile{
    display:none;
  }

  .project-thumbnail{
    border: 0px;
    padding:30px 0px;
  }

  .border-right{
    border-right:1px solid var(--border-secondary-color);
  }


  .text-center-flex{
    text-align: center;
  }

  #h3-feature{
    margin-top:0.3em;
    margin-bottom:0.3em;
    font-size:1.8em;
    font-weight:300;
  }

  #description-feature{
    font-size:1em;
  }

  h3{
    margin-top:0.3em;
    margin-bottom:1em;
    font-size:1.5em;
    font-weight:300;
    color:var(--title-text-color);
  }

  .project-img img{
    width:100%;
  }
}

@media (min-width:64.06em){

  .over-img img{
    width:200%;
    height:auto;
    z-index:0;
  }

  .image-row{
    margin-left:-25%;
    width:150%;
  }

  .image-row img{
    height: 220px;
  }

  .quotes{
    font-size:2.8em;
    margin:0.3em 0 0.3em 0;
  }

  #slogan{
    line-height:1.2em;
    font-size:3.2em;
    margin:0;
  }

  #let-chat{
    font-size:4.5em;
  }

  .about-p{
    line-height:1.3em;
    font-size:2em;
    margin:0;
  }

  .work{
    font-size: 1em;
  }


  .border-top{
    border-top:1px solid var(--border-tertiary-color);
  }


  #description-feature{
    font-size:1.15em;
    line-height:1.6em;
  }


  #h3-feature{
    margin-top:0.3em;
    margin-bottom:0.3em;
    font-size:2.3em;
    font-weight:300;
  }

  #topBtn{
  padding:5px 0px 5px 0px;
  background-color:var(--surface);
  width:100%;
  font-weight: 300;
  position:relative;
  bottom:0;
  letter-spacing:0.8px;
  font-size:0.8em;
  border-width: 2px;
  border-radius:0px;
  border-style: none none solid none;
  box-shadow: 0px -1px 5px transparent;
  display:none;
  }

  .sidebar-container{
    background-color:var(--overlay-color);
    display:none;
    backdrop-filter: blur(10px);
    padding: 12px;
  }

  #project-nav{
    display:block;
  }

}

@media (min-width:75em){
  .small-size-project{
    flex:30%;
    max-width:365px;
  }

  .about-size-project{
    flex:30%;
    max-width:365px;
  }

  .text-block{
    margin: 0px 25px;
  }

  .project-item{
    margin: 0px 25px 0px 25px;
    border-bottom: 5px solid var(--border-primary-color);
  }

  .project-item-about{
    margin: 0px 25px 0px 25px;
  }


  .project-wrapper{
    margin: 0px 0px 96px 0px;
  }

  .author{
    margin-left:5rem;
  }

  .sidenote-noborder{
    margin-left:5rem;
  }


  .element-list{
    border:1px solid transparent;
  }

  .element-list-title{
    background-color:var(--background-primary-color);
    padding:0px;
    color:var(--title-text-color);
  }

  .style-guide-item{
    text-decoration:none;
    padding-left:0px;
  }

  footer{
      padding:96px 15% 200px 15%;
      width:100%;
      margin-top:30px;
      position:relative;
  }
}


@media (min-width:88em){
  #slogan{
    line-height:1.3em;
    font-size:3.8em;
    margin:0;
  }

  #let-chat{
    font-size:6em;
  }

  .about-p{
    line-height:1.3em;
    font-size:2em;
    margin:0;
  }


  .sidenote{
    border-left:0px solid transparent;
    padding-left:0px;
    margin-top:0px;
  }


  .desktop-img img{
    width:95%;
  }

  #project-list-title::before{
    border-bottom:1px solid var(--border-primary-color);
  }

  #project-list-title{
    margin-bottom:2em;
  }

}

/* This media query setting is for high resolution screen*/
@media (min-width:110em){

  #slogan{
    font-size:4.5em;
  }

  #let-chat{
    font-size:6em;
  }

  .about-p{
    font-size:4em;
  }

  h1{
    font-size:2em;
  }
  h2{
    font-size:1em;
  }
  h3{
    font-size:1.3em;
  }
  p{
    font-size:1em;
  }

  .style-guide-item{
    font-size:1.1em;
  }
}
